<div class="row m-0 flex-wrap">
  <h3>CART</h3>
  <!-- product image -->
  <div *ngFor="let cartProduct of cartitems index as idIndex" class="col-lg-4 col-md-6 col-sm-12 ">
    <div class="product-card m-0 fixed-top box-shadow">
       <!-- image slider start -->
       <div class="card">
        <a role="button" routerLink="/detalis/{{cartProduct.product.id}}">
  <img [src]="cartProduct.product.images[0]" class="card-img-top img" alt="prduct image">
        </a>
        <div class="card-body">
          <a routerLink="/detalis/{{cartProduct.product.id}} " class="card-title">{{cartProduct.product.title}}</a>
          <p class="card-text "> {{cartProduct.product.category.name}}</p>
          <h3 class="d-inline-block" >Total : <span style="color: grey;">{{cartProduct.product.price*cartProduct.quantity}}</span> $</h3>
          <form class="d-flex">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button class="btn btn-outline-primary " type="button" (click)="remove(cartProduct.product.id)"  >-</button>
              <input class="form-control me-2 width-20" [(ngModel)]="cartProduct.quantity" name="quantity" max="100" min="0" type="number" placeholder="quantity" aria-label="quantity">

              <button class="btn btn-outline-primary " type="button" (click)="updateQuantity(idIndex,cartProduct.quantity+1)"  >+</button>
              <!-- <button class="btn btn-outline-primary" type="button" (click)="updateQuantity(idIndex,cartProduct.quantity)"  >Add More</button> -->
              <!-- <button class="btn btn-outline-danger " type="button" (click)="remove(cartProduct.product.id)" > remove</button> -->

            </div>
          </form>
          <button class="btn btn-descver mt-2 m-1" type="button" routerLink="/login" >checkout </button>
          <button class="btn btn-outline-dark w-100 m-1" type="button" routerLink="/home" >Continue shoping </button>

          <!-- <h3>{{cartProduct.quantity}}</h3> -->

        </div>
      </div>
             <!-- image slider end -->

      <div class="d-grid gap-2 mt-1">
        <!-- <a class="btn btn-info btn-block" (click)="addToCart(product.id)" >ADD TO CART</a> -->
        <!-- <a class="btn btn-info btn-block"></a> -->
      </div>
    </div>
  </div>
  </div>
