<div class="row m-0 flex-wrap">
<h3>Result</h3>
<!-- product image -->
<div *ngFor="let product of catProducts" class="col-lg-4 col-md-6 col-sm-12 ">
  <div class="product-card m-0 fixed-top box-shadow">
     <!-- image slider start -->
     <div class="card">
      <a role="button" routerLink="/detalis/{{product.id}}">
<img [src]="product.images[0]" class="card-img-top img" alt="prduct image" >
      </a>
      <div class="card-body">
        <a routerLink="/detalis/{{product.id}} " class="card-title">{{product.title}}</a>
        <p class="card-text "> {{product.category.name}}</p>
        <h3>{{product.price}}$</h3>
      <a class="btn btn-info btn-block" > add to cart</a>

      </div>
    </div>
           <!-- image slider end -->

    <div class="d-grid gap-2 mt-1">
      <!-- <a class="btn btn-info btn-block" (click)="addToCart(product.id)" >ADD TO CART</a> -->
      <!-- <a class="btn btn-info btn-block"></a> -->
    </div>
  </div>
</div>
</div>
<!-- pagenation -->
<nav aria-label="..." class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" (click)="prevPage()">Previous</a>
    </li>
    <li *ngFor="let page of pagesNum " class="page-item "[class.active]="page==pageIndex" aria-current="page">
      <a class="page-link"  (click)="goPage(page)">{{page+1}}</a>
    </li>
    <li class="page-item">
      <a class="page-link " (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>
