
/* Center the cards */
/* .container {
  text-align: center;
} */

/* product poster image */
/* .product-img {
  width: 460px !important;
  height: 490px;
  border-radius: 10px;
  border: solid 3px white;

} */
/* product card styling */
/* .product-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;

}
.card-btn{
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
.text-white{
  color: white;
}
.btn-info{
  padding:1px 10px 1px 10px ;
border: 1px solid inherit;
  border-radius: 100px;
}
.img {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.card-title{
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.card-title:hover{
color:#0dcaf0 ;
}
.width-20{
  width: 20%;
} */

/* carousel */
/* .gallery {
  --d: 10s;
  display: grid;
  width: 220px;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation:
    slide var(--d) infinite,
    z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc((1 - 1)/5 * var(--d));
  --r: -10deg;
}
.gallery > img:nth-child(2) {
  animation-delay: calc((1 - 2)/5 * var(--d));
  --r: 5deg;
}
.gallery > img:nth-child(3) {
  animation-delay: calc((1 - 3)/5 * var(--d));
  --r: -15deg;
}
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #CDB380;
  overflow: hidden;
} */
/*  ***************************** */
.gallery {
  position: relative;
  height: 500px;
  width: 100%;
  /* margin-left: 30px; */
  /* overflow: hidden; */
}
.gap-left{
  width: 100px;
}
.carousel-img {
  position: absolute;

margin-top:auto ;
margin-bottom:auto ;
  width: 70%;
  height: auto;
  object-fit: cover;
  opacity: 1;
  transform: scale(0.8);
  /* transition: opacity 0.5s ease-in-out; */
  /* transform: translateX(0%); */
  /* transform: rotate( 20deg ); */

  pointer-events: none;
}

.carousel-img.active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
  top: 0px;
  /* left: 0px; */
  transform: scale(1);

  /* transition: opacity 0.5s ease-in-out; */
  /* transform: translateX(80%); */

}
@keyframes fetcher {
  0% {z-index: 2; transform: scale(1); }
  25% { transform: translateX(100%) scale(1.2) rotate(30deg);   }
  75% {    }
  100% {z-index: 0; transform: scale(.8)  }
}
.fetcher-effect {
  animation: fetcher 0.4s ease-in-out;
}

.controls {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  z-index: 20;
  background-color: transparent;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.image-wrapper {
  position: absolute;
  display: block !important;
  width: 100%;
  max-height: 80%;
  z-index: -1;
  box-sizing: border-box;
  overflow: hidden; /* optional, for tidy edges */
}

.back-image {
  display: block !important;

  width: 100%;
  height: auto;
  filter: blur(30px);
}

.mt-10{
  margin-top: 40px;
}
.btn-home-bage{
  background-color: #ce0a2c;
  color: white;
  border-radius: 35px;
  padding: 7px 25px 7px 25px;

}
.max-size{
  max-width: 490px;
  max-height: 480px;
}
.catname{
  display: block !important;
}

/* Customizing carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;

}
.img-div{
  overflow: hidden;
  display: flex;
  justify-content: center;

}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);

}
.carousel-control-prev,
.carousel-control-next {
  bottom: -60% !important ;
}


/* old home bage  */
/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
 .carousel-inner {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel-item {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  transform: translateX(0);
}

.carousel-item.prev {
  transform: translateX(-100%);
}

 .card {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 */
