

<div *ngFor="let cat of cats ; index as i" id="cardCarousel" class="carousel slide " data-bs-ride="carousel">
<h3>explore our {{cat.name}}</h3>
  <div class="carousel-inner">
  <div  class="carousel-item active">
    <div  class="d-flex justify-content-center">
      <div *ngFor="let prod of prodWindow[i]" class="card m-0" style="width: 18rem;">
        <img routerLink="/detalis/{{prod.id}}" [src]="prod.images[0]" class="card-img-top" style="min-height:200px ;" alt="product image">
        <div class="card-body p-1">
          <h5 class="card-title d-none d-lg-block">{{prod.title}}</h5>
          <h6 class="card-title align-self-end">{{prod.price}}$</h6>
          <a routerLink="/detalis/{{prod.id}}" class="btn btn-primary d-none d-lg-block">detalis</a>
        </div>
      </div>
    </div>
  </div>
<!-- Carousel Controls -->
<button class="carousel-control-prev  " (click)="prevCarouslPage(i)" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>

</button>
<button class="carousel-control-next" (click)="nextCarouslPage(i)" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
</button>
</div>
</div>
