        <!-- offcanvas start -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
        <!-- offcanvas end -->

<nav class="navbar navbar-expand-lg navbar-dark bg-gray flex-nowrap m-0 p-0">
  <div class="container-fluid m-0 p-0">
          <!-- offcanvas button link -->
    <ul class="navbar-nav   ">
       <li  class="nav-item">
        <!--  -->
        <a class="nav-link " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
         <span class="navbar-toggler-icon"></span>
          all  </a>
              </li>

    </ul>
<div class="d-none d-lg-block ">
      <ul class="navbar-nav   ">

        <li  class="nav-item">
          <a class="nav-link">Eid Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">mobile phones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/main">Electronics</a>
        </li>

         <!-- drop dowen start -->
         <li class="nav-item">
<!-- Dropdown on Hover  -->
<div class="dropdown position-relative"  (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false" >
  <!-- Dropdown Toggle -->
  <a class="nav-link dropdown-toggle" routerLink="/login" role="button">
    addes  </a>
    <div *ngIf="showDropdown" class="dropdown-menu show  min-width shadow"(mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
      <img  src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="">
    </div>
</div>
</li>
<!-- Dropdown  end -->

<li   class="nav-item">
  <a class="nav-link" routerLink="/editProfile">fashion</a>
</li>
<li   class="nav-item">
  <a class="nav-link" routerLink="/editProfile">appliances</a>
</li>
        </ul>
      </div>

<ul class="navbar-nav   ms-auto">
<li   class="nav-item " >
  <a class="nav-link m-0 p-0 " routerLink="/home"><img class="img-fluid" src="https://m.media-amazon.com/images/G/42/Homepage/2025/Events/Q1/EIDSale/swm/2502EID036_EID25_EG_GW_SWM_EID_Sale_Live_400x39_EN._CB548038224_.jpg" alt="eid sale image"></a>
</li>
</ul>



  </div>
</nav>
