<!-- <div class="horizontal-line ms-auto"></div> -->
<div class=" horizontal-line">
  <h5 class="p-1">Category</h5>
  <h6 class="ps-3">cat.name</h6>
  <div class="p-0 m-0 ps-4">
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
    <p class="m-0 p-0">list of cat</p>
  </div>
</div>




